[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Andromeda"]
	path = Andromeda
	url = https://github.com/ohdsi/andromeda
[submodule "Cyclops"]
	path = Cyclops
	url = https://github.com/ohdsi/cyclops
[submodule "DatabaseConnector"]
	path = DatabaseConnector
	url = https://github.com/ohdsi/databaseconnector
[submodule "DatabaseConnectorJars"]
	path = DatabaseConnectorJars
	url = https://github.com/ohdsi/databaseconnectorjars
[submodule "EmpiricalCalibration"]
	path = EmpiricalCalibration
	url = https://github.com/ohdsi/empiricalcalibration
[submodule "EvidenceSynthesis"]
	path = EvidenceSynthesis
	url = https://github.com/ohdsi/evidencesynthesis
[submodule "ParallelLogger"]
	path = ParallelLogger
	url = https://github.com/ohdsi/parallellogger
[submodule "SqlRender"]
	path = SqlRender
	url = https://github.com/ohdsi/sqlrender
