[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Andromeda"]
	path = Andromeda
	url = https://github.com/ohdsi/andromeda
[submodule "CirceR"]
	path = CirceR
	url = https://github.com/ohdsi/circer
[submodule "CohortAlgebra"]
	path = CohortAlgebra
	url = https://github.com/ohdsi/cohortalgebra
[submodule "CohortConstructor"]
	path = CohortConstructor
	url = https://github.com/ohdsi/cohortconstructor
[submodule "CohortExplorer"]
	path = CohortExplorer
	url = https://github.com/ohdsi/cohortexplorer
[submodule "CohortGenerator"]
	path = CohortGenerator
	url = https://github.com/ohdsi/cohortgenerator
[submodule "Cyclops"]
	path = Cyclops
	url = https://github.com/ohdsi/cyclops
[submodule "DatabaseConnector"]
	path = DatabaseConnector
	url = https://github.com/ohdsi/databaseconnector
[submodule "DatabaseConnectorJars"]
	path = DatabaseConnectorJars
	url = https://github.com/ohdsi/databaseconnectorjars
[submodule "EmpiricalCalibration"]
	path = EmpiricalCalibration
	url = https://github.com/ohdsi/empiricalcalibration
[submodule "Eunomia"]
	path = Eunomia
	url = https://github.com/ohdsi/eunomia
[submodule "EvidenceSynthesis"]
	path = EvidenceSynthesis
	url = https://github.com/ohdsi/evidencesynthesis
[submodule "FeatureExtraction"]
	path = FeatureExtraction
	url = https://github.com/ohdsi/featureextraction
[submodule "LocalControl"]
	path = LocalControl
	url = https://github.com/ohdsi/localcontrol
[submodule "OmopSketch"]
	path = OmopSketch
	url = https://github.com/ohdsi/omopsketch
[submodule "ParallelLogger"]
	path = ParallelLogger
	url = https://github.com/ohdsi/parallellogger
[submodule "ResultModelManager"]
	path = ResultModelManager
	url = https://github.com/ohdsi/resultmodelmanager
[submodule "SqlRender"]
	path = SqlRender
	url = https://github.com/ohdsi/sqlrender
[submodule "omock"]
	path = omock
	url = https://github.com/ohdsi/omock
